body {
  height: 100%;
  font-size: 14px;

  .ant-layout {
    height: 100vh !important;
    background-color: $color-background-primary !important;

    .ant-content {
      background-color: $color-background-primary !important;
    }
  }
}